/* Variables */
#confetti-world {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; }

#wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin: -300px 0 0 -300px;
  z-index: 0; }

input[type="button"] {
  cursor: pointer; }

.localisation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 50px;
  margin: -25px 0 0 -200px;
  z-index: 2; }
  .localisation p {
    text-align: center; }

.alert.localisation p {
  text-align: left; }
  .alert.localisation p button {
    position: absolute;
    right: 10px;
    top: 10px; }

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 110px;
  margin: -55px 0 0 -250px;
  text-align: center;
  z-index: 2; }

.blur {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.unblur {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1.3s infinite;
  animation-delay: 0s; }

.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s; }

.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s; }

@-webkit-keyframes dot {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes dot {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
