@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
/* Variables */
#confetti-world {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2; }

#wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin: -300px 0 0 -300px;
  z-index: 0; }

#wheel:active {
  cursor: pointer; }

button, button:hover {
  transition: all 0.3s ease-out; }

button:focus {
  outline: none !important; }

button#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 40px;
  margin: -20px 0 0 -40px;
  cursor: pointer;
  z-index: 1; }

.select-localisation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 96px;
  margin: -48px 0 0 -150px;
  z-index: 3; }
  .select-localisation p {
    text-align: center; }

.localisation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 50px;
  margin: -25px 0 0 -200px;
  z-index: 3; }
  .localisation p {
    text-align: center; }

.clickme {
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #262626; }

#search {
  width: 90px; }

.alert.localisation p {
  text-align: left; }
  .alert.localisation p button {
    position: absolute;
    right: 10px;
    top: 10px; }

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 150px;
  margin: -75px 0 0 -250px;
  text-align: center;
  z-index: 3; }

.blur {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.unblur {
  -webkit-filter: 0;
  filter: 0;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

div.settings {
  position: absolute;
  width: 340px;
  height: 350px;
  padding: 10px;
  top: 0px;
  -moz-border-radius: 0px 0 4px 0px;
  -webkit-border-radius: 0px 0 4px 0px;
  border-radius: 0px 0 4px 0px;
  left: -340px;
  z-index: 1; }
  div.settings > div {
    padding-top: 0px; }

a.settings {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 24px;
  padding: 5px 5px 0px 5px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 1; }

a.settings:hover {
  position: absolute;
  left: 5px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  cursor: pointer; }
  a.settings:hover ~ div.settings {
    left: -335px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  a.settings:hover ~ div.clickme {
    left: 51px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    color: #000000; }

a.shareLink {
  cursor: pointer; }

.settings div.input-group {
  margin-bottom: 5px; }

div.settings-open {
  left: 0px !important;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

a.settings-open {
  left: 340px !important;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.settings button {
  float: right;
  margin-top: 5px;
  cursor: pointer; }

div.input-group span.input-group-addon {
  width: 114px;
  text-align: left; }
div.input-group input {
  width: 174px !important; }

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1.3s infinite;
  animation-delay: 0s; }

.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s; }

.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s; }

@-webkit-keyframes dot {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes dot {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.panel-map {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 600px;
  margin: -300px 0 0 -500px;
  z-index: 3;
  padding: 0; }
  .panel-map > .panel-body {
    height: 100%;
    padding: 0; }
  .panel-map p {
    text-align: center; }

input[type="text"]#search {
  border: 0;
  font-size: 36px;
  height: 70px;
  padding: 0;
  width: 80%;
  letter-spacing: -0.02em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  outline: none;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 4px;
  text-align: left; }

#map-header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 15px; }
  #map-header button {
    margin-top: 12px;
    float: right; }

#map-canvas {
  width: 100%;
  height: calc(100% - 100px);
  margin: 0;
  padding: 0;
  border: 1px solid #ddd; }

#location-option-current {
  float: left; }

#location-option-find {
  float: right; }

.pac-container {
  box-shadow: none;
  border-top: 0;
  margin-left: -16px;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-top: 0px; }

.pac-item {
  border-top: 0; }

button#select-location {
  width: 157px; }

button#new-location {
  position: absolute;
  bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
