/* Variables */
$wheel-width: 600px;
$wheel-height: 600px;

$button-width: 80px;
$button-height: 40px;

$settings-width: 340px;
$settings-height: 350px;

$select-localisation-width: 300px;
$select-localisation-height: 96px;

$localisation-width: 400px;
$localisation-height: 50px;

$result-width: 500px;
$result-height: 150px;

$clickme-left: 46px;

$map-panel-width: 1000px;
$map-panel-height: 600px;

$map-header-height: 100px;
