<div id="map" class="panel panel-default panel-map">
  <div class="panel-body">
    <div id="map-header">
      <input type="text" id="map-search" class="search controls" name="search" placeholder="Enter postcode or place name"/>
      <button type="button" class="select-location btn btn-primary btn-lg">Select Location</button>
      <input type="hidden" name="lat" id="latBox" disabled/>
      <input type="hidden" name="lng" id="lngBox" disabled/>
    </div>
    <div id="map-canvas"></div>
    <div class="center-marker"></div>
  </div>
</div>
